.right-section{
    box-sizing: border-box;
    width: 90%;
    padding: 20px;
    height: 100%;
    background-color: rgba(20, 19, 26, 1);
    overflow: hidden;
    overflow-y: scroll;
}

.right-section::-webkit-scrollbar{
    width: 7px;
}
.right-section::-webkit-scrollbar-thumb{
   background: #0a090d;
}